:root {
  --primary-color: #3f3d56;
  --text-color: #333;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #3f3d56;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.player {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}

.navbar {
  z-index: 10;
  margin-top: 45px;
  position: fixed;
  right: 10px;
}
.open .navbar-icon {
  transform: translateX(-45px);
  transition: all 0.3s ease;
  background-color: transparent;
}
.navbar-icons {
  margin-right: 15px;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 10;
}

.navbar-icon {
  width: 25px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;
}
.navbar-icon:before,
.navbar-icon:after {
  content: "";
  transition: all 0.3s ease;
  position: absolute;
  width: 37px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
}
.navbar-icon:before {
  transform: translateY(-12px);
  transition: all 0.3s ease;
}
.navbar-icon:after {
  transform: translateY(12px);
  transition: all 0.3s ease;
}

.open .navbar-icon:before {
  transform: rotate(45deg) translate(35px, -35px);
  transition: all 0.3s ease;
}
.open .navbar-icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
  transition: all 0.3s ease;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  max-width: 480px;
  border-bottom: 1px solid #ebebeb;
  overflow: hidden;
  background: url("../img/trovemuaha.png") no-repeat center;
  background-size: contain;
  /* background-position: center; */
}

.dashboard::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: url("../img/bg5.jpg") no-repeat center; */
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  filter: blur(4px);
}
/* Layer */
.layer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.layer.active {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease;
  z-index: 5;
}
/* HEADER */
header {
  text-align: center;
  margin-bottom: 10px;
}

header h2,
header h3 {
  color: #fff;
  font-size: 16px;
  padding: 0 30px;
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 200px;
}

.cd-box {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  margin-top: 140px;
  margin-bottom: 30px;
  transition: all 0.3s linear;
}
.cd-box.active {
  transform: translateX(-35px);
  transition: all 0.3s linear;
}

.cd-thumb-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  margin: auto;
  transition: all 0.3s linear;
  background-position: center;
}

.cd-thumb {
  width: 98%;
  height: 98%;
  border-radius: 50%;
  background-color: #333;
  background-size: cover;
  margin: auto;
  position: absolute;
  top: 1%;
  right: 0;
  transition: all 0.8s ease;
  z-index: -1;
  border: 3px solid #000;
}
.cd-thumb.right {
  right: -48%;
  transition: all 0.8s ease;
}

.cd-thumb::before {
  position: relative;
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background: #c0c0c0;
  border-radius: 1000em;
  left: 35%;
  top: 36%;
  border: 5px solid #000;
  box-sizing: border-box;
}

.cd-thumb:after {
  position: relative;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 1000em;
  left: 44%;
  top: 16%;
  box-sizing: border-box;
  z-index: 1;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 50px 8px 50px;
}

.control .btn {
  color: #fff;
  padding: 18px;
  font-size: 18px;
  cursor: pointer;
}

.control .btn.active {
  color: var(--primary-color);
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin-top: 30px;
}

.time span {
  color: #fff;
  margin-left: 10px;
  width: 15%;
}

.note {
  text-align: center;
  padding: 30px 50px;
  color: #fff;
  font-size: 14px;
  z-index: 10;
  line-height: 30px;
}

.progress {
  width: 70%;
  -webkit-appearance: none;
  background: linear-gradient(
    to right,
    #82cfd0 0%,
    #82cfd0 50%,
    #fff 50%,
    #fff 100%
  );
  height: 6px;
  /* background: #d3d3d3; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  position: absolute;
  top: 0px;
  left: 0;
  width: 85%;
  min-height: 100vh;
  background-color: #ccc;
  margin-top: 0px;
  padding: 10px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;
}
.playlist.openList {
  transition: all 0.3s ease;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  z-index: 999;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
